* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.words{

  font-family: 'Courier New', monospace;
}

.title{
font-family: 'Courier New', monospace;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: navy;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  font-family: 'Courier New', monospace;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  font-family: 'Courier New', monospace;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "ubuntu";
}
img {
  width: 100%;
}
header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #0b2239;
}
header .header-left {
  display: flex;
  align-items: center;
}
header .header-left .logo {
  width: 140px;
}
header .header-left nav {
  margin-left: 50px;
}
header .header-left nav ul {
  display: flex;
}
nav ul li a {
  display: block;
  color: #cfd9e0;
  font-size: 18px;
  padding: 5px 10px;
  transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
  color: #fff;
}
nav .login-signup {
  display: none;
}
header .header-right {
  display: flex;
  align-items: center;
}
header .login-signup {
  color: #cfd9e0;
  font-weight: bold;
}
header .login-signup a {
  display: inline-block;
  color: #0b2239;
  background:white;
  padding: 5px 12px;
  border-radius: 5px;
}
header .header-right .wordpile {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
header .header-right .wordpile div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}
@media only screen and (max-width: 1000px) {
  header {
      padding: 0 20px;
  }
  header .header-right .wordpile {
      display: block;
  }
  header .header-left nav {
      margin: 0;
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: fit-content;
      background-color: #0b2239;
      padding: 30px;
      transition: 0.3s;
      text-align: center;
      z-index: -1;
  }
  header .header-left nav.active {
      top: 70px;
  }
  header .header-left nav ul {
      display: block;
  }
}
@media only screen and (max-width: 500px) {
  nav .login-signup {
      display: block;
      margin-top: 20px;
  }
  header .header-right .login-signup {
      display: none;
  }
}
